@tailwind base;
@tailwind components;
@tailwind utilities;



main {
  padding: 40px;
 
}

input {
  padding: 4px 10px;
  color: black;
}

label {
  margin: 20px 0;
}

th,
td {
  border: 2px solid white;
  padding: 10px 30px;
}
